<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña perdida</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <nav>
        <img src="../../img/birdlogo.png" alt="" class="logoimg">
    </nav>
    <div class="mensajes colormin">
        <ul>
            <% if(typeof errors != 'undefined'){ %> <% errors.forEach(error=>{ %>
                    <li><%= error.message %></li>
                 <% }) %> <% } %>
        </ul>
    </div>


    <div class="mensajes" >
        <ul>
            <% if(messages.success_msg) { %>
                <li class="colorcor"><%= messages.success_msg %></li>
            <%}%>
        </ul>
    
        <ul>
            <% if(messages.error){ %>
                <li class="colormin"> <%= messages.error %></li>
            <%}%>
        </ul>
    
    </div>
    <!-- modal -->
<section class="modal">
    <div class="modalcontainer">
        <h2 class="modaltitle">ERROR!</h2>
        <p class="modalparrafo">Debe de llenar todos los campos</p>
        <a href="#" class="modalclose">Cerrar</a>

    </div>

</section>
    

    <!--  fin modal -->
   

   <div class="login-box">
    <img class="logoimg" src="../../img/logo.jpeg" alt="">
    <h1>¿Olvidaste la Contraseña?</h1>
    <br>
   

    <form class="form" action="/users/passrecovery" method="POST" autocomplete="off" >
    
    <input name="usuario" type="text" class="inputtext" id="usuario" placeholder="Nombre de Usuario">

    <div class="wrapp-input">
        <span class="iconeye"><i class="btneye fa-solid fa-eye"></i></span>
        <input name="pass" type="password" class="inputtext" id="pass" placeholder="Contraseña" >
    </div>
     <input name="password2" type="password" class="inputtext" id="password2" placeholder="Confirmar contraseña">

     <input name="ress" type="text" class="inputtext2" id="ress" placeholder="Respuesta de Seguridad">

     <a href="#" class="btnpres" id="btnpres"><i class="fa-solid fa-question"></i></a>

        <input type="submit" name="submit" value="Actualizar" id="Registrar" class="btncontinuar">
    
        <select autocomplete="off" name="rol" class="ocultar" tabindex="9" id="slStatus">
            <option value="Cliente">Cliente</option>
        </select>


        <div class="box"></div>

        
        <a href="/users/login" class="lbllogin" >Iniciar sesion</a>
    
        <a href="/users/registro" class="lblcrearcuenta" >Crear Cuenta</a>
    </form>
   </div>


   <section class="modalpass" id="modalpass">
    <div class="modalcontainerpass">
        <h1 class="modaltitlepass">Preguntas de seguridad</h1>
        <label for="">¿Primera mascota?</label>
        <label for="">¿Lugar de nacimiento?</label>
        <label for="">¿Mejor amigo de la infancia?</label>
      
        <a href="" class="cerrarmodalpass">Cerrar</a>
    </div>
   </section>

<footer>
    <label for="">Copyright © 2023</label>
   </footer>

    
   <script src="/js/logincliente.js"></script>


   <script src="../../js/passrecovery.js"></script>
</body>
</html>