<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../../css/almacen.css?v=<?php echo(rand()); ?>" />
<!-- <script src="/js/mi_script.js?v=<?php echo(rand()); ?>"></script> -->
  <!--   <link rel="stylesheet" href="../../public/css/almacen.css">
    --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
   
 
</head>
<body>


    <nav class="nav2">
        <input type="checkbox" name="" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="#" class="linkphoto">
            <img src="../../img/logo.jpeg" alt="" class="logoimg">
            
        </a>

        <ul class="navlist">
           

                <li><a href="index.html"><img src="../../img/tienda.png" alt="">tienda</a></li>

            
                <li><a href="registrousuarios.php"><img src="../../img/usuarios.png" alt="">Usuarios</a></li>

           
                <li><a class="active" href="creacionUadmin.html"><img src="../../img/usuario.png" alt="">Creacion de usuarios</a></li>

           
                <li><a  href="almacen.php"><img src="../../img/producto.png" alt="">Crear producto</a></li>

    
                <li><a href="registrousuarios.php"><img src="../../img/almacen.png" alt="">almacen</a></li>

                
                <li><a id="btnloginnav"><img src="../../img/cerrar.png" alt="">Cerrar sesion</a></li>

        </ul>
    </nav>
    
    <div class="menucolapse" id="sidemenu">
        <!-- header -->
        <div id="header">
            <div id="title"><span>MENU</span></div>
            <div id="menu-btn">
            <i class="fa-solid fa-bars" ></i>
            </div>
        </div>
        <!-- profile -->
        <div id="profile">
           <a href="#" id="btnperfil" > <div id="photo"><img src="../../img/logo.jpeg" alt=""></a>
                <div id="name">Cuenta Administrativa </div>
        
            </div>
        </div>

        <!-- items -->
        <div id="menuitem">
            <div class="item">
                <a id="btnindex">
                    <div class="icon"><img src="../../img/tienda.png" alt=""></div>
                    <div class="title"><span>Tienda</span></div>
                </a>
            </div>

            <div class="item">
                <a class="active" href="#">
                    <div class="icon"><img src="../../img/usuario.png" alt=""></div>
                    <div class="title"><span>Creacion de usuarios</span></div>
                </a>
            </div>

            <div class="item" >
                <a id="btnregistrousuarios">
                    <div class="icon"><img src="../../img/usuarios.png" alt=""></div>
                    <div class="title"><span>Usuarios</span></div>
                </a>
            </div>

            <div class="item" >
                <a id="btnalmacen">
                    <div class="icon"><img src="../../img/productos.png" alt=""></div>
                    <div class="title"><span>Crear producto</span></div>
                </a>
            </div>

            <div class="item">
                <a id="btnvistaproductos">
                    <div class="icon"><img src="../../img/almacen.png" alt=""></div>
                    
                    <div class="title"><span>almacen</span></div>
                </a>
            </div>

            <div class="item separator"></div>


            
            <div class="item itemcerrar">
                <a id="btnlogin">
                    <div class="icon"><img src="../../img/cerrar.png" alt=""></div>
                    <div class="title"><span>Cerrar sesion</span></div>
                </a>
            </div>
        </div>
    
    </div>
   
   
   

   <div class="login-box">


    <form class="form" action="/users/registroadmin" method="POST" autocomplete="off">
        
   <div class="contenedorinput" id="continput">

    <h1>Creacion de Usuarios</h1>
    <a href="#" id="warning" class="warning"></a>

    <div class="mensajes colormin">
        <ul>
            <% if(typeof errors != 'undefined'){ %> <% errors.forEach(error=>{ %>
                    <li><%= error.message %></li>
                 <% }) %> <% } %>
        </ul>
    </div>

    <div class=" mensajes colormc">
        <ul>
            <% if(messages.success_msg) { %>
                <li><%= messages.success_msg %></li>
            <%}%>
        </ul>
    </div>

   <label for="" class="lblfoto">Foto de Perfil</label>
        <img class="imglogo" src="../../img/logo.jpeg" alt="">
        <a href="#"><img class="agregarimg" src="../../img/agregarfoto.png" alt=""></a>
    <input type="file" class="form-control-file " name="foto" id="foto" placeholder="foto" aria-describedby="fileHelpId">

    <label class="lblfecha" for="">Nombre de usuario</label>
    <input name="usuario" type="text" class="inputtext" id="usuario" placeholder="Usuario">

    <label class="lblfecha" for="">Nombre</label>
    <input name="nombre" type="text" class="inputtext" id="nombre" placeholder="Nombre">

    <label class="lblfecha" for="">Apellido</label>
    <input name="apellido" type="text" class="inputtext" id="apellido" placeholder="Apellido">
    
    <label class="lblfecha" for="">Fecha de nacimiento</label>
    <input name="fecha" type="date" class="inputtext ipfecha" id="fecha" placeholder="Nombre de Usuario">

    <label class="lblfecha" for="">Correo electronico</label>
    <input name="email" type="email" class="inputtext" id="email" placeholder="Correo Electronico">

    <label class="lblfecha" for="">Rol a desempeñar </label>
    <select autocomplete="off" name="rol" class="inputtext" tabindex="9" id="rol">
        <option value=""></option>
            <option value="Administrador">Administrador</option>
            <option value="Editor">Editor</option>
            <option value="Administrador_de_inventario">Administrador de inventario</option>
            <option value="Supervisor">Supervisor</option>
            <option value="Cliente">Cliente</option>
    </select>

    <label class="lblfecha" for="">Contraseña</label>
    <input name="pass" type="password" class="inputtext" id="pass" placeholder="Contraseña">

    <label class="lblfecha" for="">Confirmar contraseña</label>
    <input name="password2" type="password" class="inputtext" id="password2" placeholder= "confirmar la Contraseña">


    <label class="lblfecha" for="">Pregunta de Seguridad</label>
    <select autocomplete="off" name="pres" class="inputtext" tabindex="9" id="pres">
        <option value=""></option>
            <option value="Lugar_nacimiento">¿Donde naciste?</option>
            <option value="Primera_mascota">¿Primera mascota?</option>
            <option value="Mejor_amigo_infancia">¿Mejor amigo de la infancia?</option>
    </select>

    <label class="lblfecha" for="">Respuesta de seguridad</label>
    <input name="ress" type="text" class="inputtext" id="ress" placeholder="Respuesta">


   
    

  <!--   <input type="submit" name="submit" value="Registrar" id="Registrar" class="btncontinuar"> -->


     <!-- </form> -->
   </div>

   <div class="containerright">


    <nav class="navbar" id="navid">
        
            <!-- <form class="form" action="/users/registro" method="POST" autocomplete="off"> -->
           

        <ul>
            <li><a href="#"  class="linea">
                <span class="icons"></span>
                <span class="item"></span>
            </a></li>
    
    
        <li><a href="#"  class="">
                <span class="icons"></span>
                <span class="item"></span>
            </a></li>
    
            <li>
                <button class="btnside" type="submit" name="submit" value="Registrar" id="Registrar"><span class=""><i class="fa-solid fa-floppy-disk"></i></span>
                    <span class="">Guardar</span></button> 
                 </form>
                 </li>
        
                <button  type="button"  class="toggle-collapse" id="toggle-button" >
                <img src="../../img/fondo.jpg" alt=""><span class="toggle-icon"></span>
                </button>
            
     
       
            <li><a href="#" id="btnbuscar"  class="btnbuscar">
                <span class="icons"><i class="icon fa-solid fa-magnifying-glass"></i></span>
                <span class="item">Buscar</span>
            </a></li>
            
          <!--   <li> <button onclick="app.editar()" class="btnside" ><span class=""><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="">Editar</span>
            </button> </li>
-->
           

            <li> <!-- <a href="#" id="btnactualizar" class="btnactualizar">
                <span class="icons"><i class="fa-solid fa-rotate"></i></span>
                <span class="item">Actualizar</span> 
            </a> 
         -->
         <button  id="btnactu" class="btnside btnactu" ><span class=""><i class="fa-solid fa-rotate"></i></span>
                <span class="">actualizar</span>
            </button> 
        </li>

            
            <li> <button  id="botonborrar" class="btnside btneliminar" ><span class=""><i class="fa-solid fa-eraser"></i></span>
                <span class="">Borrar</span>
            </button> 
            </li>


         
           
              
            

             
        </ul>
        

    </nav>
</div>

   
<!-- modal container -->
  
<section class="modal" id="modal">
    <div class="modalcontainer">
        
<main class="table" id="tablaproductos">
<section class="tableheader" >
          
<h1 class="modaltitle">Tabla Usuarios</h1>
        <h2 class="">Usuarios Registrados</h2>
</section>
<section class="tablebody">
        <table class="containertable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Rol</th>
                        <th>Foto</th>
                        <th></th>
                        
                    </tr>
                </thead>
                    <tbody id="tbodyuser">
                        
                </tbody>
        </table>
</section>
</main>
           

        <a href="#" id="cerrarmodal" class="modalclose">Cerrar</a>
    </div>
</section>



<section class="modalcorrecto" id="modalcorrecto">
    <div class="containermodalcorrec" id="containermodalcorrec">
        <p><i class="fa-solid fa-circle-check"></i> Accion realizada con exito</p>
        
           </div>
</section>

<section class="modalerror" id="modalerror">
    <div class="containermodalerror" id="containermodalerror">
        <p><i class="fa-solid fa-circle-xmark"></i> Ha ocurrido un error fatal</p>
        <a href="#" id="cerrarmodalerror" class="cerrarmodalerror"></a>       
    </div>
</section>

<section class="modalwarning" id="modalwarning">
    <div class="containermodalwarning" id="containermodalwarning">
        <p><i class="fa-solid fa-triangle-exclamation"></i> Todos los Campos deben de ser Completados</p>
           <a href="#" id="cerrarmodalwarning" class="cerrarmodalwarning"></a>
    </div>
</section>

<!-- modal container fin -->

<!-- BUTTON MENU -->

            
<div class="navegador" id="containernavegador">
    <ul>
        <li class="list activenav">
           <!--  <a href="#">
                <span class="iconnav"><i class="icon fa-solid fa-magnifying-glass"></i></span>
                <span class="textnav">Buscar</span>
            </a> -->

            <a href="#" id="btnbuscarnav"  class="botoninferiormodal">
                <span class="iconnav"><i class="icon fa-solid fa-magnifying-glass"></i></span>
                <span class="textnav">Buscar</span>
            </a>
        </li>

        <li class="list">
            <form class="form" action="/users/registro" method="POST"> 
                <button class="" type="submit"><span class="iconnav"><i class="fa-solid fa-rotate"></i></span>
                <span class="textnav">Actualizar</span></button> 
                </form>
        </li>

      
        <li class="list">
         
            <button id="botonborrarinferior" type="submit" ><span class="iconnav"><i class="fa-solid fa-eraser"></i></span>
                <span class="textnav">Borrar</span>
            </button> 

       
        </li>

        
        
        <li class="list">
        <form class="form" action="/users/registroadmin" method="POST"> 
                <button class="" type="submit"><span class="iconnav"><i class="fa-solid fa-floppy-disk"></i></span>
                <span class="textnav">Guardar</span></button> 
                </form>
        </li>
        

        <div class="indicadornav">

        </div>
    </ul>
</div>

<!-- FIN -->
<!-- 
<script src="../assets/codeuser.js"></script> -->
<script src="../js/creacionUadmin.js"></script>
<script src="../js/ruta.js"></script>
</body>
</html>
