<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>    

    <nav>
        <input type="checkbox" name="" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="#" class="linkphoto">
            <img src="/img/logo.jpeg" alt="" class="logoimg">
        </a>

        <ul>

       

            <li><a class="active" href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
        </ul>
    </nav>
<div class="containerslider">
    <div class="slider" id="slider">
        <div class="slidersection"><img src="../../img/img1.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img2.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img5.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img4.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img3.jpg" alt="" class="sliderimg"></div>
    </div>

    
<div class="sliderbtn sliderbtnleft" id="btnleft"><i class="fa-solid fa-chevron-left"></i></div>
<div class="sliderbtn sliderbtnrigth" id="btnright"><i class="fa-solid fa-chevron-right"></i></div>

</div>


<div class="containerimg">

    <div class="vertical">

       <ul>
        <li><img src="/img/imgvertical1.jpg" alt=""></li>
        <li><img src="/img/imgvertical6.jpg" alt=""></li>
        <li><img src="/img/imgvertical2.jpg" alt=""></li>
        <li><img src="/img/imgvertical5.jpg" alt=""></li>
       </ul>
    </div>

    
    <div class="img2">
        <ul>
            <li><img src="/img/img8.jpg" alt=""></li>
            <li><img src="/img/img9.jpg" alt=""></li>
            <li><img src="/img/img13.jpg" alt=""></li>
            <li><img src="/img/img10.jpg" alt=""></li>
      
            
        </ul>
    </div>

    <div class="img3">
        <label for="">Accesorios</label>
        <ul>
            
            <li><img src="/img/img1.jpg" alt=""></li>
            <li><img src="/img/img2.jpg" alt=""></li>
            <li><img src="/img/img5.jpg" alt=""></li>
            <li><img src="/img/img4.jpg" alt=""></li>
            
        </ul>
    </div>

    <div class="horizontal">
        <ul>
            
            <li><img src="/img/imghori2.jpg" alt=""></li>
            <li><img src="/img/imghori1.jpg" alt=""></li>
            <li><img src="/img/imghori3.jpg" alt=""></li>
            <li><img src="/img/imghori4.jpg" alt=""></li>
          
        </ul>
    </div>
</div>



    <script src="/js/carousel.js"></script>
    
</body>
</html>