<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>
<body>    

    <nav>
        <input type="checkbox" name="" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="#" class="linkphoto">
            <img src="/img/logo.jpeg" alt="" class="logoimg">
        </a>

        <div class="continerbarra">
            <form action="" class="barranav">
                <input type="text" placeholder="Buscar..." name="q" id="">
                <button type="submit"><img src="/img/lupa.png" alt=""></button>
            </form>
        </div>


        <ul>

       

            <li><a /*class="active"*/ href="#">Hola, <%= nombre %></a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Cuenta</a></li>
            <li><a href="#">Carrito</a></li>
        </ul>

        <div class="navsegundo">
            
        </div>
    </nav>
<div class="containerslider">
    <div class="slider" id="slider">
        <div class="slidersection"><img src="../../img/img1.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img2.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img5.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img4.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img3.jpg" alt="" class="sliderimg"></div>
    </div>

    
<div class="sliderbtn sliderbtnleft" id="btnleft"><i class="fa-solid fa-chevron-left"></i></div>
<div class="sliderbtn sliderbtnrigth" id="btnright"><i class="fa-solid fa-chevron-right"></i></div>

</div>




<!-- slider categorias -->
<div class="carousel">
    <!-- <label class="lbltitulo" for="">Categorias Recomendadas</label> -->
    <div class="carrusellist" id="carrusellist">

        <button class="carrusel-arrow carrusel-prev" id="button-prev" data-button="button-prev"
            onclick="app.processingButton(event)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                    d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                </path>
            </svg>
        </button>

        <div class="carruseltrack" id="track">
            

            <div class="carrusel">

                <div>

                    <a href="#">
                        
                            <h4> <small>Moviles</small>SmartPhone</h4>
                      
                        <picture>
                            <img src="../../img/categoria1.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>

            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Video juegos</small> Consolas </h4>
                        <picture>
                            <img src="../../img/categoria2.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Accesorios gamer</small> Ordenadores </h4>
                        <picture>
                            <img src="../../img/categoria3.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Relojes</small> Smartwatches </h4>
                        <picture>
                            <img src="../../img/categoria4.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Hogar</small> Electrodomesticos </h4>
                        <picture>
                            <img src="../../img/categoria5.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Hogar</small> Muebles </h4>
                        <picture>
                            <img src="../../img/categoria6.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Trabajo</small> Herramientas </h4>
                        <picture>
                            <img src="../../img/categoria7.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Biblioteca</small> Libros </h4>
                        <picture>
                            <img src="../../img/categoria8.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Ropa</small> Prendas de vestir </h4>
                        <picture>
                            <img src="../../img/categoria9.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>
            <div class="carrusel">

                <div>

                    <a href="#">
                        <h4> <small>Animales</small> Mascotas </h4>
                        <picture>
                            <img src="../../img/categoria10.jpg" alt="">
                        </picture>
                    </a>

                </div>

            </div>


            

            

        </div>

        <button class="carrusel-arrow carrusel-next" id="button-next" data-button="button-next"
            onclick="app.processingButton(event)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                </path>
            </svg>
        </button>


    </div>

</div>
<!-- fin -->

<!-- contenedores grid -->
<div class="containerimg">

    <div class="vertical">

        <label class="lbltitulo">Tendencias y moda</label>
       <ul>
        <li><img src="/img/ropa1.jpg" alt=""></li>
        <li><img src="/img/ropa2.jpg" alt=""></li>
        <li><img src="/img/ropa3.jpg" alt=""></li>
        <li><img src="/img/ropa4.jpg" alt=""></li>
       </ul>

       <label class="lblver" for="">Ver más</label>
    </div>

    
    <div class="img2">
        <label class="lbltitulo">Figuras de colección </label>
        <ul>
            <li><img src="/img/figura1.jpg" alt=""></li>
            <li><img src="/img/figura2.jpg" alt=""></li>
            <li><img src="/img/figura3.jpg" alt=""></li>
            <li><img src="/img/figura4.jpg" alt=""></li>
        </ul>
        <label class="lblver" for="">Ver más</label>
    </div>

    <div class="img3">
        <label class="lbltitulo">Accesorios Gamer</label>
        <ul>
            
            <li><img src="/img/accesorio1.jpg" alt=""></li>
            <li><img src="/img/accesorio2.jpg" alt=""></li>
            <li><img src="/img/accesorio3.jpg" alt=""></li>
            <li><img src="/img/accesorio4.jpg" alt=""></li>
            
        </ul>
        <label class="lblver" for="">Ver más</label>
    </div>

    <div class="horizontal">
        <label class="lbltitulo">Artículos para el hogar</label>
        <ul>
            
            <li><img src="/img/hogar1.jpg" alt=""></li>
            <li><img src="/img/hogar2.jpeg" alt=""></li>
            <li><img src="/img/hogar3.jpg" alt=""></li>
            <li><img src="/img/hogar4.jpg" alt=""></li>
          
        </ul>
        <label class="lblver" for="">Ver más</label>
    </div>
</div>

<!-- fin -->


<!-- slider automatico infinito -->
<div class="carrousel">
    <label class="lbltitulo" for="">Piezas para vehículo </label>
    <div class="carrouselitems">
        <div class="carrouselitem">
            <img src="../../img/pieza1.png" alt="">
        </div>
        <div class="carrouselitem">
            <img src="../../img/pieza2.png" alt="">
        </div>
        
        <div class="carrouselitem">
            <img src="../../img/pieza3.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza4.png" alt="">
        </div>
        <div class="carrouselitem">
            <img src="../../img/pieza5.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza6.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza7.png" alt="">
        </div>
        <div class="carrouselitem">
            <img src="../../img/pieza8.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza9.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza10.png" alt="">
        </div>
        <div class="carrouselitem">
            <img src="../../img/pieza1.png" alt="">
        </div>
        <div class="carrouselitem">
            <img src="../../img/pieza2.png" alt="">
        </div>
        
        <div class="carrouselitem">
            <img src="../../img/pieza3.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza4.png" alt="">
        </div>
        <div class="carrouselitem">
            <img src="../../img/pieza5.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza6.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza7.png" alt="">
        </div>
        <div class="carrouselitem">
            <img src="../../img/pieza8.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza9.png" alt="">
        </div>

        <div class="carrouselitem">
            <img src="../../img/pieza10.png" alt="">
        </div>
    </div>
    <label class="lblver2" for="">Ver más</label>
</div>
<!-- fin -->

<footer>
    <label for="">Copyright © 2023</label>
    

  <!--   <a href="/users/login"><img class="icon" src="/img/admin.png" alt=""></a>  -->
   </footer>

    <script src="/js/carousel.js"></script>
    
</body>
</html>