<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>
<body>    

    <nav>
        <input type="checkbox" name="" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="#" class="linkphoto">
            <img src="/img/logo.jpeg" alt="" class="logoimg">
        </a>

        <ul>

       

            <li><a class="active" href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Inicio</a></li>
        </ul>
    </nav>
<div class="containerslider">
    <div class="slider" id="slider">
        <div class="slidersection"><img src="../../img/img1.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img2.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img5.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img4.jpg" alt="" class="sliderimg"></div>
        <div class="slidersection"><img src="../../img/img3.jpg" alt="" class="sliderimg"></div>
    </div>

    
<div class="sliderbtn sliderbtnleft" id="btnleft"><i class="fa-solid fa-chevron-left"></i></div>
<div class="sliderbtn sliderbtnrigth" id="btnright"><i class="fa-solid fa-chevron-right"></i></div>

</div>

<!-- slider automatico infinito -->
<div class="carrousel">
    <div class="carrouselitem">
        <div class="carrouselitems">
            <img src="../../img/pieza1.png" alt="">
        </div>
        <div class="slideimg">
            <img src="../../img/pieza2.png" alt="">
        </div>
        
        <div class="slideimg">
            <img src="../../img/pieza3.png" alt="">
        </div>

        <div class="slideimg">
            <img src="../../img/pieza4.png" alt="">
        </div>
        <div class="slideimg">
            <img src="../../img/pieza5.png" alt="">
        </div>

        <div class="slideimg">
            <img src="../../img/pieza6.png" alt="">
        </div>

        <div class="slideimg">
            <img src="../../img/pieza7.png" alt="">
        </div>
        <div class="slideimg">
            <img src="../../img/pieza8.png" alt="">
        </div>

        <div class="slideimg">
            <img src="../../img/pieza9.png" alt="">
        </div>

        <div class="slideimg">
            <img src="../../img/pieza10.png" alt="">
        </div>
        

    </div>
</div>
<!-- fin -->


<!-- contenedores grid -->
<div class="containerimg">

    <div class="vertical">

        <label class="lbltitulo">Tendencias y moda</label>
       <ul>
        <li><img src="/img/ropa1.jpg" alt=""></li>
        <li><img src="/img/ropa2.jpg" alt=""></li>
        <li><img src="/img/ropa3.jpg" alt=""></li>
        <li><img src="/img/ropa4.jpg" alt=""></li>
       </ul>

       <label class="lblver" for="">Ver más</label>
    </div>

    
    <div class="img2">
        <label class="lbltitulo">Figuras de colección </label>
        <ul>
            <li><img src="/img/figura1.jpg" alt=""></li>
            <li><img src="/img/figura2.jpg" alt=""></li>
            <li><img src="/img/figura3.jpg" alt=""></li>
            <li><img src="/img/figura4.jpg" alt=""></li>
        </ul>
        <label class="lblver" for="">Ver más</label>
    </div>

    <div class="img3">
        <label class="lbltitulo">Accesorios Gamer</label>
        <ul>
            
            <li><img src="/img/accesorio1.jpg" alt=""></li>
            <li><img src="/img/accesorio2.jpg" alt=""></li>
            <li><img src="/img/accesorio3.jpg" alt=""></li>
            <li><img src="/img/accesorio4.jpg" alt=""></li>
            
        </ul>
        <label class="lblver" for="">Ver más</label>
    </div>

    <div class="horizontal">
        <label class="lbltitulo">Artículos para el hogar</label>
        <ul>
            
            <li><img src="/img/hogar1.jpg" alt=""></li>
            <li><img src="/img/hogar2.jpeg" alt=""></li>
            <li><img src="/img/hogar3.jpg" alt=""></li>
            <li><img src="/img/hogar4.jpg" alt=""></li>
          
        </ul>
        <label class="lblver" for="">Ver más</label>
    </div>
</div>

<!-- fin -->
    <script src="/js/carousel.js"></script>
    
</body>
</html>