
/* contenedor inputs */


.contenedorinput{

    width: 60%;
    max-width: 750px;
    margin: 20px;
    height:950px;
    position: absolute;
    border: 2Px solid rgb(57, 90, 92) ;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow:hidden;
  
}


.contenedorinput h1{
    margin-bottom: 10px;
    
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

select:focus{
    outline: none;
}




.inputtext{
    max-width: 700px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(57, 90, 92);
    font-size: 15px;
    display: block; 
    margin-bottom: 10px; 
}

.inputerror:focus{
    border: 2px solid #CB8B07;
    
}



.imglogo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 100px;
   /*  left: calc(50% - 210px);   */
    margin-bottom: 20px;
    margin-left: -140px;
    
    }
    
.agregarimg{
    
    top: 200px;
    border-radius: 50px;
    background-color: cadetblue;
    border: 2px solid rgb(57, 90, 92);
    width: 35px;
    /* left: calc(50% - 190px);  */
    margin-left: -40px;
    margin-bottom: 15px;
}

.form-control-file{
    max-width: 700px;
    width: 90%;
    height: 40px;
    font-size: 15px;
    display: block; 
     
}

.textarea{
    width: 100%;
    min-width: 60%;
    min-height: 200px;
    max-height: 200px;
}

/* fin contenedores inputs */

.ocultar{
    opacity: 0;
    pointer-events: none;
    transition: .2s ease;
}

.mostrar{
    opacity: 1;
    pointer-events: none;
    transition: .2s ease;
}



/* inicio modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
     display: flex; 
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: --transform .8s;
   
}

.modalshow{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .3s .2s;
}

.modalcontainer{
    width: 90%;
    background-color: #fff;
     margin: auto; 
    max-width: 1100px;
    padding: 1.5em 1.5em;
    border-radius: 15px;
    border: 2px solid cadetblue ;
    transform: var(--transform);
    transition: var(--transition);
   
    

   display: grid; 
    place-items: center;
    grid-auto-columns: 100%;
 
}

.modaltitle{
    font-size: 2.2rem;
}

.modalclose{
    text-decoration: none;
    color: #fff;
    background-color: cadetblue;
    border: 2px solid rgb(57, 90, 92)  ;
    padding: 1em 3em;
    border-radius: 15px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalclose:hover{
    color: cadetblue;
    background-color: #fff;
}

.btnbuscar:hover{
    background: rgb(64, 109, 110);
}



/* fun modañ */

/* tabla inicio */

main.table{
    width: 95%;
    height: 65vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    margin-bottom: 10px;


    overflow: hidden;
}


.tableheader{
    width: 100%;
    height: 15%;
    background-color: rgba(95, 158, 160, 0.523);
    padding: .8rem 1rem;
}

.tablebody{
    width: 95%;
    max-height: calc(79% - .8rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
}

.tablebody::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.tablebody::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.tablebody:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table{
    width: 100%;

}

   td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
   }


   table, th, td{
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
   }

   thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #dbd9dfc6;
   }

   tbody tr:nth-child(even){
    background-color: #0000000b;
   }

   tbody tr:hover{
    background-color: rgba(140, 140, 140, 0.4);
   }

/* tabla fin */





 
/* se queda */
.navegador ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    margin: 15px;
}



 

 .navegador ul li:nth-child(1).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 0));
 }
 .navegador ul li:nth-child(2).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 1.4));
 }
 .navegador ul li:nth-child(3).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 2.85));
 }
 .navegador ul li:nth-child(4).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 4.25));
 }
 .navegador ul li:nth-child(5).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 4));
 }


/* fin */

@media (max-width: 600px){

     .contenedorinput{

    width: 90%;
    height: 900px;
    border: 2Px solid rgb(57, 90, 92) ;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
}
 
 }

/* fin */

