*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.active{
    background-color:rgb(57, 90, 92) ;
    color: #fff;
}

body{
    font-family: 'Paytone One', sans-serif;
    overflow-x: hidden;
    background-color: #efefefef; 
}

/* navegador  */

.nav2{
    background-color: cadetblue;
    width: 100%;
    height: 45px;
    margin: 0 auto;

    border: 2px solid rgb(57, 90, 92);
    align-items: center;
}

.linkphoto{
    position: absolute;
    padding: 20px 50px;
}

.logoimg{
    height: 30px;
    border-radius: 50px;
   margin-top: -15px;
   margin-left: -30px;
}


.nav2 ul{
    float: right;
    margin-right: 20px;
}

.nav2 ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    cursor: pointer;
}

.nav2 ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav2 ul li a :active{
    background-color: rgb(255, 255, 255);
    color: cadetblue;
} 


.nav2 li a.active,.nav2 li a:hover{
    background-color: rgb(57, 90, 92);
    border-radius: 10px;
    transition: .5s;
} 

.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 40px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    
}

#check{
    display: none ;
}

h2{
    font-weight: 300;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.879);
}
h1{
    font-weight: 600;
    margin-left: 10px;
}

/* 
fin nav */


/* container lef */

:root{
    --width: 300px;
    --padding:10px;
    --bgcolor: cadetblue;
    --hovercolor: rgb(57, 90, 92);
    --width-collapsed: 60px;
    --width-normal: 0px;
}





body{
    padding: 0;
    margin: 0;
   margin-left: var(--width-collapsed); 
   transition: 0.700s ease;
  
}

.body-expanded{
    margin-left: var(--width) ;
    transition: 0.800s ease;
}




#main{
    color: red;
}

#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    max-width: 300px;
}

#sidemenu a{
    color: white;
    text-decoration: none;
}

/* header */
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 2px var(--hovercolor);
    
}

#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;

}


#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
    
}

#sidemenu #header #menu-btn{
    display: inline-block;
}

#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 20px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-ham{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    
}


/* profile */

.spanrol{
    font-size:14px;
}

#sidemenu #profile{
    border-bottom: solid 2px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
    transition: 0.800s ease;
}


#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
    transition: 0.800s ease;
}

#sidemenu #profile #photo img{
    border-radius: 60%;
    width: 70%;
    transition: 0.800s ease;
}

#sidemenu #profile #name{
    font-size: 20px;
    padding: var(--padding) 0;
    overflow: hidden;
    transition: 0.800s ease;
}

#sidemenu #profile #photo{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
    transition: 0.800s ease;
}

/* items */

#sidemenu #menuitem{
    overflow: hidden;
    transition: 0.800s ease;
}

#sidemenu #menuitem .item{
    width: var(--width);
    cursor: pointer;
}

#sidemenu #menuitem .item .icon{
    display: block;
}

#sidemenu #menuitem .item .icon,
#sidemenu #menuitem .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menuitem .item a{
    display: block;
}

#sidemenu #menuitem .item a:hover{
    background-color: var(--hovercolor);
}

#sidemenu #menuitem .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);

}

#sidemenu #menuitem .item .icon img{
    width: 100%;
}



#sidemenu #menuitem .item .title{
    padding: var(--padding) 0;
}

#sidemenu #menuitem .item.separator{
    height: 1px;
    border-bottom: solid 2px var(--hovercolor);

    
}


.menuexpanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.800s ease;
}

.menuexpanded #header #title{
    display: inline-block;
    width: calc(100% -50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menuexpanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) -5px);
    overflow: hidden;
    display: inline-block;
}

.menuexpanded #profile #photo{
    width: 200px;
}

.menuexpanded #header #menu-btn{
    float: right;
}

.menuexpanded #profile #name{
    width: 100%;
}

.menucolapse{
    border: 2px solid rgb(57, 90, 92) ;
    width: var(--width-collapsed);
    transition: 0.700s ease;

}

.menucolapse #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menucolapse #profile #name{
    display: none;
}

.menucolapse .item{
    width: 100%;
}



/* fin container */


/* contenedor inputs */


.contenedorinput{

    width: 60%;
    max-width: 750px;
    margin: 20px;
    height:960px;
    position: absolute;
    border: 2Px solid rgb(57, 90, 92) ;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow:hidden;
  
}


.contenedorinput h1{
    margin-bottom: 10px;
    
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

select:focus{
    outline: none;
}




.inputtext{
    max-width: 700px;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(57, 90, 92);
    font-size: 15px;
    display: block; 
    margin-bottom: 10px; 
}

.inputerror:focus{
    border: 2px solid #CB8B07;
    
}



.imglogo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 100px;
   /*  left: calc(50% - 210px);   */
    margin-bottom: 20px;
    margin-left: -105px;
    
    }
    
.agregarimg{
    
    top: 200px;
    border-radius: 50px;
    background-color: cadetblue;
    border: 2px solid rgb(57, 90, 92);
    width: 35px;
    /* left: calc(50% - 190px);  */
    margin-left: -40px;
    margin-bottom: 15px;
}

.form-control-file{
    max-width: 700px;
    width: 90%;
    height: 40px;
    font-size: 15px;
    display: block; 
     
}

.textarea{
    width: 100%;
    min-width: 60%;
    min-height: 200px;
    max-height: 200px;
}

/* fin contenedores inputs */

/* contenedor izquierdo */

.containerright{
    position: relative;
}

.navbar{
    position: absolute;
    right: 0px;
    width: 30%;
    height: 500px;
    background-color: cadetblue;
    text-align: center;
    transition: 0.800s ease;
    position: absolute;
    top:50%;
    margin-top: 100px;
    border-radius: 20px 0 0 20px;
}

.navbar > .side-nav{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.nav-item{
    display: flex;

}


.nav-item > .nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    flex: 1;
}

.nav-item > .nav-link:hover{
    background-color: #fff;
    color: cadetblue;
}

.toggle-collapse{
float: left;
margin-left: -6.3em;
margin-top: 17em;
content: "";
outline: inherit;
border: 0px;
background: transparent;
}

.toggle-collapse img{
    width: 35px;
    float: left;
margin-left: 3.5em;
border-radius: 5px 15px 15px 5px;
margin-top: -0.3em;

cursor: pointer;
}



.toggle-icon,
.toggle-icon::before,
.toggle-icon::after{
    content:"" ;
    width: 30px;
    position: relative;
    height: 4px;
    position: fixed;
    background-color: cadetblue;
    border-radius: 2em;
    border: 1px solid rgb(57, 90, 92)  ;
    cursor: pointer;
    transition: 0.800s ease;
    margin-top: 0.8em;
}



.toggle-icon::before{
    position: absolute;
    left: -10px;
    width: 15px;
    margin-top: -0.6em;
    
}



.toggle-icon::after{
    position: absolute;
    left: -10px;
    margin-top: 0.5em;
    width: 15px;
}


.show .toggle-icon::after{
    width: 15px;
    left: 5px;
}


.toggle-icon{
    position: absolute;
    width: 15px;
    left: -20px;
    
    
}

.show .toggle-icon{
    width: 15px;
    left: -25px;
}

.show.toggle-collapse img{
    width: 40px;
    float: left;
margin-left: 4.2em;
border-radius: 15px 5px 5px 15px;
margin-top: -0.5em;
}

.show .toggle-icon::before{
    position: absolute;
    width: 15px;
    left: 5px;
    margin-top: -0.6em;
    
}

nav ul li a img{
    width: 40px;
}


.containerright .navbar  ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid rgb(64, 106, 107) ;
    color: #fff;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    
}

.containerright .navbar .linea  ul li a{
   
    border-bottom: none ;
   
    
}





.containerright .navbar ul li a:active{
   color: cadetblue;
    background-color: #fff;
}




.containerright .navbar ul li a span{
    width: 60px;
    display: inline-block;
}


.containerright .navbar ul li a .icons{
    font-size: 30px;
    display: inline-block;
    /* border-radius: 50px; */
}


.btnside{
    transition: .3s ease;
    padding: 13px 30px;
    width: 100%;
    cursor: pointer;
    font-size: 23px;
    color: #fff;
    display: inline-block;
    font-family: 'Paytone One', sans-serif;
    border: none;
    background-color: cadetblue;
    border-bottom: 1.5px solid rgb(72, 119, 120);
}

.btnside:hover{
   
    background-color: rgb(64, 106, 107);
}





/* fin contenedor izquierdo */

.ocultar{
    opacity: 0;
    pointer-events: none;
    transition: .2s ease;
}

.mostrar{
    opacity: 1;
    pointer-events: none;
    transition: .2s ease;
}




.btnbuscar:hover{
    background: rgb(64, 109, 110);
}







/* botones guardar y editar tabla */

.btn{
color:#fff;
display: block;
border-radius: 5px;
padding: 5px;
margin: 3px;
text-align: center;
transition: background-color .3s;

}

.btn-danger{
   background-color: rgb(236, 47, 47);
   border: 2px solid rgb(128, 13, 13);
}

.btn-danger:hover{
    background-color: #fff;
    color:rgb(236, 47, 47) ;
 }

 .btn-warning{
    background-color: rgb(236, 185, 47);
    border: 2px solid rgb(100, 82, 10);
 }
 
 .btn-warning:hover{
     background-color: #fff;
     color:rgb(236, 185, 47) ;
  }
 
 



/* fin */


/* menu button */

:root{
    --crl: #fff:
}

.navegador{
    width: 500px;
    height: 70px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(50, 82, 83);

    top: auto;
    bottom: 10px;
    margin-left: 3%;
}

.navegador ul{
display: flex;
/* width: 350px; */
}

.navegador ul li{
    position: relative;
    list-style: none;
    width: 120px;
    height: 70px;
    z-index: 1;
    margin: 15px;
}

.navegador ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500; 
}

.navegador ul li button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 900;
    background: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
   
}

.navegador ul li a .iconnav{
    position: relative;
   display: block;
   line-height: 75px;
   font-size: 1.5em;
   text-align: center;
   transition: 0.5s;
   color: black;
   
}

.navegador ul li button .iconnav{
    position: relative;
   display: block;
   line-height: 75px;
   font-size: 1.5em;
   text-align: center;
   transition: 0.5s;
   color: black;
   
}

.navegador ul li.activenav a .iconnav{
   transform: translateY(-35px);
}

.navegador ul li.activenav button .iconnav{
    transform: translateY(-35px);
 }
 

.navegador ul li a .textnav{
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
 }

 .navegador ul li button .textnav{
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
 }


 .navegador ul li.activenav a .textnav{
    opacity: 1;
    transform: translateY(10px);
 }

 .navegador ul li.activenav button .textnav{
    opacity: 1;
    transform: translateY(10px);
 }

 .indicadornav{
    position: absolute;
    top: -40%;
    left: 14%;
    width: 50px;
    height: 50px;
    background: cadetblue;
    border-radius: 50%;
    border: 6px solid #efefef;
    transition: 0.5s;
 }

 .indicadornav::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -24px;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 #efefef;
    
 }

 .indicadornav::after{
    content: '';
    position: absolute;
    top: 40%;
    right: -24px;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #efefef;
    
 }

 .navegador ul li:nth-child(1).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 0));
 }
 .navegador ul li:nth-child(2).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 2.1));
 }
 .navegador ul li:nth-child(3).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 4.25));
 }
 .navegador ul li:nth-child(4).activenav ~ .indicadornav{
    transform: translateX(calc(70px * 4.25));
 }





/* fin */

/* mensajes */
.mensajes{
    position: absolute;
     top: 60PX;
    right: 10px;
    width: 200PX;
    border-radius: 10px;
   /*  border: 2px solid #503602; */
}

.mensajes li{
    padding: 10px;
}


.colormc{
    background-color: #3fa238;
    color: #fff;
}

.colormin{
    background-color:#CB8B07 ;
    color: #fff;
}

/*  */


/* modo tablet / pc*/
@media(max-width: 3000px){
    .nav2 ul{
        display: none;
    }

    .navegador{
        opacity: 0;
        pointer-events: none;
    } 
 
}
/*  */

/* modo celular */

@media (max-width: 600px){
    
    .mensajes{
        
        position: absolute;
         top: 25PX;
        right: 5px;
        width: 140PX; 
      /*  width: 25%; */
    
        border-radius: 10px;
       /*  border: 2px solid #503602; */
    }
    
    .navegador{
        opacity: 1;
        pointer-events: unset;
    } 
 
    .textarea{
        width: 100%;
        min-width: 50%;
        min-height: 150px;
        max-height: 200px;
    }

    .inputtext{
        width: 100%;
    }

 .contenedorinput{

    width: 90%;
    height: 1070px;
    border: 2Px solid rgb(57, 90, 92) ;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
}
 


.ocultar{
    opacity: 0;
    pointer-events: none;
    transition: .2s ease;
}

   .containerright{
        opacity: 0;
        pointer-events: none;
    } 

    .containermodalcorrec{
        font-size: 20px;
      }
    

    .nav2{
        overflow: visible;
    
    }

    

    body{
        margin: 0;
      
        overflow-x: hidden;
    }



    .menucolapse{
        opacity: 0;
        pointer-events: none;
    }



    .checkbtn{
        display: block;
    }

    .nav2 ul{
        display: block;
    }

    .containerlef{
       opacity: 0;
       pointer-events: none;
    }

    .nav2 ul{
        position: fixed;
        width: 99%;
        height: 100vh;
        background:rgb(57, 90, 92);
        top: 36px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        margin-top: 8px;
        border: 3px solid cadetblue;
    }

    .nav2 ul li{
        display: flex;
        margin: 10px 0;
        line-height: 30px;
        background: cadetblue;
        width: 95%;
        margin-left: 2.5%;
        border-radius: 15px;
        /* padding: 10px 0; */
    }

    .nav2 ul li a {
        font-size: 16px;
         padding: 20px 41%;
        /* justify-content: space-between; */
        margin: 0 auto;
 
    }

   

    .nav2 li a:hover, .nav2 li a.active{
        background-color: none;
        color: rgb(0, 0, 0);
        
    } 

    .nav2 ul li a:active{
        background-color: rgb(255, 255, 255);
        color: cadetblue;
    }

    #check:checked ~ ul{
        left: 0;
    }   

    .modalcontainer{
        padding: 2em 1.5em;
    }

    .modaltitle{
        font-size: 2rem;
    }
}


/* fin modo celular */