<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../public/css/usuario.css">
<LINK REL="stylesheet" HREF="css/usuario.css" TYPE="text/css">
</head>
<body>


    <nav>
        <img src="../../img/logo.jpeg" alt="" class="logoimg">
    </nav>

   <div class="login-box">
   
    <h2>Crear Cuenta</h2>
    <label for="" class="lblfoto">Foto de perfil</label>
    <img class="logoimg" src="../../public/img/logo.jpeg" alt="">



    <a href="#"><img class="agregarimg" src="../../public/img/agregarfoto.png" alt=""></a>

     


    <form class="form" action="../config/conexionCuenta.php" method="POST" enctype="multipart/form-data">

    <input type="file" class="form-control-file" name="foto" id="" placeholder="foto" aria-describedby="fileHelpId">

        <input name="usuario" type="text" class="inputtext" id="inputusuario" placeholder="Usuario">

        <input name="nombre" type="text" class="inputtext" id="inputnombre" placeholder="Nombre">

        <input name="apellido" type="text" class="inputtext" id="inputlastname" placeholder="Apellido">
        
        <label class="lblfecha" for="">Fecha de nacimiento</label>
        <input name="fecha" type="date" class="inputtext ipfecha" id="inputfecha" placeholder="Nombre de Usuario">

        <input name="email" type="text" class="inputtext" id="inputcorreo" placeholder="Correo Electronico">

        <input name="pass" type="password" class="inputtext" id="inputcontra" placeholder="Contraseña">

        <select autocomplete="off" name="rol" class="ocultar" tabindex="9" id="slStatus">
            <option value="Cliente">Cliente</option>
        </select>
        
        <input name="cPass" type="password" class="inputtext" id="inputcontra" placeholder="Confirmar contraseña">

        <input type="submit" name="guardar" value="Crear Cuenta" id="btncontinuar" class="btncontinuar">

    

        <div class="box"></div>


        <label class="lbl" for="">¿Ya tienes una cuenta?</label>
        <a href="login.html" class="a" >Iniciar sesion</a>
    </form>
   </div>

   <footer class="foter">
    <label for="">Copyright © 2023</label>
    
    
    <a href="loginadmi.php"><img class="icon" src="../../public/img/admin.png" alt=""></a>
   </footer>
    

   <script src=""></script>
</body>
</html>